<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <h1>Login</h1>
  <form action="/login" method="POST">
    <input required type="email" name="email" placeholder="Your Email" id="">
    <input required type="password" name="password" placeholder="Your password" id="">
    <input type="submit" value="Login" id="">
  </form>
</body>
</html>